<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hechihan.micro.apps.upms.mapper.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.hechihan.micro.apps.upms.entity.Company">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parent" />

    <result column="province" jdbcType="CHAR" property="province" />
    <result column="city" jdbcType="CHAR" property="city" />
    <result column="district" jdbcType="CHAR" property="district" />
    <result column="street" jdbcType="CHAR" property="street" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_uid" jdbcType="INTEGER" property="createUid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_uid" jdbcType="INTEGER" property="updateUid" />
  </resultMap>
</mapper>