<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hechihan.micro.apps.upms.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.hechihan.micro.apps.upms.entity.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="path" jdbcType="CHAR" property="path" />
    <result column="clazz" jdbcType="CHAR" property="clazz" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="active" jdbcType="BIT" property="active" />
    <result column="remark" jdbcType="CHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_uid" jdbcType="INTEGER" property="createUid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_uid" jdbcType="INTEGER" property="updateUid" />
  </resultMap>
</mapper>